@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,100,100italic,300,300ita%E2%80%8C%E2%80%8Blic,400italic,500,500italic,700,700italic,900italic,900);
*{
    font-family: Roboto, Helvetica, sans-serif;
    outline: none;
}
:active{
    outline: none;
}
body{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background-image: url('../../images/back.jpg');
}
#inputwrapper{
    margin: 0 auto;
    padding: 10px;
    width: 80%;
}
#people-div{
    min-width: 800px;
}
#people-table tr.detail{
    display: none;
}
#file-upload{
    min-width: 600px;
}
#file-upload table{
    width: 100%;
}
#file-upload td.progress-td{
    width: 50%;
}
#file-upload td.action-td{
    margin-top: 20px;
    text-align: center;
}
