*{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: none;
}
:active{
    outline: none;
}
body{
    width: 800px;
    height: 350px;
    margin: 0 auto;
    overflow-x: hidden;
}
.jsgrid-header-cell{
    font-size: 14px;
}
.jsgrid-cell{
    font-size: 12px;
}
#file-upload table{
    width: 100%;
}
#file-upload td.progress-td{
    width: 50%;
}
#file-upload td.action-td{
    margin-top: 20px;
    text-align: center;
}
#submit-div{
    background-color: white;
    padding: 1em;
}