@font-face {
    font-family: VagRounded;
    src: url('../fonts/VAGRoundedStd-Black.eot');
    src: url('../fonts/VAGRoundedStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/VAGRoundedStd-Black.woff') format('woff'), url('../fonts/VAGRoundedStd-Black.ttf') format('truetype'), url('../fonts/VAGRoundedStd-Black.svg') format('svg');
}
*{
    font-family: VagRounded, Helvetica, sans-serif;
    outline: none;
}
:active{
    outline: none;
}
body{
    width: 800px;
    height: 350px;
    margin: 0 auto;
    overflow-x: hidden;
}
.jsgrid-header-cell{
    font-size: 14px;
}
.jsgrid-cell{
    font-size: 12px;
}
#file-upload table{
    width: 100%;
}
#file-upload td.progress-td{
    width: 50%;
}
#file-upload td.action-td{
    margin-top: 20px;
    text-align: center;
}
#submit-div{
    background-color: white;
    padding: 1em;
}